<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.torque">

    <!-- Permiso para importar fotos -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Torque"
        android:theme="@style/Theme.TorqueLight">

        <activity android:name=".MenuPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Configuración -->
        <activity android:name=".Configuracion" />

        <!-- Actividad de Mantenimiento -->
        <activity android:name=".mantenimientos.Mantenimiento" />
        <activity android:name=".mantenimientos.MantenimientoPreview"/>
        <activity android:name=".mantenimientos.MantenimientoHistorial" />
        <!-- Actividad de Garaje -->
        <activity android:name=".garaje.MotoDetalle" />
        <activity android:name=".garaje.AgregarMoto2" />
        <activity android:name=".garaje.BorrarMoto" />
        <activity android:name=".garaje.ListaGaraje" />



    </application>
</manifest>
