<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.torque">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Torque"
        android:theme="@style/Theme.TorqueLight">

        <!-- Actividad principal (Menú Principal) -->
        <activity android:name=".MenuPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Revisiones -->
        <activity android:name=".Revisiones" />

        <!-- Actividad de Configuración -->
        <activity android:name=".Configuracion" />

        <!-- Actividad de Mantenimiento (NextMaintenanceActivity) -->
        <activity android:name=".Mantenimiento" />

    </application>
</manifest>
